<div class="navigation-container">
  <nav class="navigation container">
    <ul class="navigation-list">
    {% if current_user.is_anonymous %}
      <li class="navigation-item">
        <a href="{{ url_for('auth.login') }}">Sign In</a>
      </li>
    {% else %}
      <li class="navigation-item">
        <a href="{{ url_for('main.index') }}">Write</a>
      </li>
      <li class="navigation-item">
        <a href="{{ url_for('main.posts') }}">Posts</a>
      </li>
      <li class="navigation-item">
        <a href="{{ url_for('main.profile') }}">Account</a>
      </li>
      <li class="navigation-item">
        <a href="{{ url_for('auth.logout') }}">Log out</a>
      </li>
    {% endif %}
    </ul>
  </nav>
</div>
