{% extends 'base.html' %}

{% block content %}
  <h1>Hi</h1>

  <p>
    This is a simple little journal app. I've been using
    <a href="https://www.goodreads.com/book/show/38621692-the-happiness-project-one-sentence-journal" rel="external, noopener">Gretchen Rubin's One-Sentence Journal</a>
    and wanted an online version of that.
  </p>

  <p>
    Everything is private, unless you specifically mark a post as public.
  </p>

  <p>
    You can write in markdown or just plain text. Have fun.
  </p>

  <p>
    <a href="{{ url_for('auth.login') }}">Sign in</a> if you already have an account, or
    <a href="{{ url_for('auth.register') }}">register</a> if you're new.
  </p>
{% endblock %}
